* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
#index-header,
#index-nav {
  height: 64px;
  font-size: 14px;
  box-shadow: 0 2px 4px #00000014;
}
#index-header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 64px;
  background: url('@/assets/logo2.png') repeat-x #f1f5ff;
  background-size: contain;
  opacity: 0.4;
  z-index: -1;
}
#index-nav {
  font-size: 18px;
  background-color: #fff;
}
#index-container {
  position: relative;
  margin: 0 auto;
  width: 70%;
  height: 100%;
}
#index-container p {
  float: right;
  color: #000;
  font-size: 18px;
  font-weight: 900;
  line-height: 64px;
  user-select: none;
}
#index-nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 80%;
}
#index-nav li {
  position: relative;
  float: left;
}
#index-nav li a {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 30px;
  background-color: #ace9ec33;
  cursor: pointer;
}
#index-nav li a:hover {
  color: teal;
  background-color: #f8b3aa;
}
#index-nav .active {
  color: teal;
  background-color: #f8b3aa;
}
#index-nav li a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  border-width: 0 25px 64px 0;
  width: 0;
  height: 0;
  z-index: 10;
}

#index-nav li a::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 64px 0 0 25px;
  width: 0;
  height: 0;
  z-index: 10;
}
#index-nav #my-center {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 64px;
  cursor: pointer;
}
#index-nav #my-center:hover {
  font-size: 20px;
  text-shadow: 0 0 5px #f8b3aa;
}
/* #index-nav #my-center > span:hover {
  text-shadow: 0 0 5px #f8b3aa;
} */

#index-content {
  margin-top: 5px;
  background-color: #f1f5ff;
}
